@import url(https://fonts.googleapis.com/css?family=Roboto);

html
{
  font-size: 16px;
}

body
{
  font-family: 'Roboto',Helvetica,sans-serif;
  background-color: white;
}

a {
  cursor: pointer;
  color: #03a9f4;
  transition: all .5s;
}

a:hover
{
  color: lightblue;
}

.loading
{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #03a9f4;

  display: flex;
  align-items: center;
  justify-content: center;
}

.loading h1
{
  font-size: 5rem;
  padding-top: 10rem;
  width: 100%;
  height: 100%;
  font-size: 3rem;
  color: white;
  text-align: center;
}

.dashboard
{
  width:60%;
  margin:auto;
}

.dashboard h1
{
  font-size: 2rem;
  text-align: center;
  margin: 1rem;
}

.dashboard h2
{
  font-size: 1.5rem;
  border-bottom: 2px solid #ccc;
  width: 100%;
  margin: 0;
}

.dashboard h3
{
  font-size: 1.2rem;
  margin: .25rem;
}

.zoneContainer
{
  background-color: #eee;
  box-shadow: 1px 1px 3px #888;
}

.zoneList
{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.zone, .zoneListTitle
{
  border-bottom: 3px solid #ddd;
  padding: 1rem;
  flex-grow: 1;
  font-size: 1rem;
}

.zone
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding: 0;
}

.zone:last-child
{
  border: none;
}

.zoneListTitle
{
  background-color: #ccc;
  text-align: center;
  font-size: 1.5rem;
}

.zoneBox
{
  align-self: center;
  margin-left: .25rem;
  margin-right: .25rem;
}

.zoneBoxRight
{
  display: flex;
  justify-content: flex-end;
}

.zoneMove
{
  display: flex;
  flex-direction: column;
  float: right;
  margin-right: .25rem;
}

.zoneMove a
{
  font-size: 1.5rem;
}

.zoneSelect
{
  appearance: none;
  border: 1px solid #000;
  font-size: 1rem;
  color: #fff;
  background: #444;
  margin-right: .25rem;
  height: 2.21rem;
}

input[type="checkbox"] {
  transform:scale(2, 2);
  margin-right: 1rem;
  position: relative;
  top: -.25rem;
}

.waterbutton
{
  font-size: 1rem;
  padding: .5rem;
  border-radius: 5px;
  background-color: #03a9f4;
  color:white;
}

.waterbutton:hover
{
  background-color: lightblue;
  color:#03a9f4;
}

@media(max-width: 750px)
{
  .dashboard
  {
    width:80%;
  }
}

@media (max-width: 450px)
{
  .dashboard
  {
    width:100%;
  }
}

@media (max-device-width:650px)
{
  html
  {
    font-size: 32px;/* double root font size */
  }

  .zoneMove a
  {
    font-size: 2.5rem;
  }

  .dashboard
  {
    width:100%;
  }

  input[type="checkbox"] {
    transform:scale(4, 4);
    margin-right: 1.5rem;
  }
}
